[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "equivUMP"]
	path = equivUMP
	url = https://github.com/thmild/equivump
[submodule "histogram"]
	path = histogram
	url = https://github.com/thmild/histogram
